@import "reset";

//using variables
$font-stack: Helvetica, Verdana, sans-serif;
$primaryColor: #f8c503;

//generic styles
body{
  font-family: $font-stack;
}

h1 {
  font-size: 2em;
  color: $primaryColor;
}

@import "list-page";
@import "book-form";