<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body class="book-form">
<h1>A book form header</h1>

<form method="POST" action="/book/add">
    <input placeholder="title" name="title">
    <input placeholder="authors" name="authors">
    <button type="submit">Save</button>
</form>

</body>
</html>